<!DOCTYPE html>
<html>
<head>
    <title>SignalSiege</title>
    <link rel="stylesheet" href="../static/styles/homepage.css">
</head>
<body>
    <script defer src="../static/javascript/homepage.js"></script>
    <div id="content-wrapper">
        <h1>Signal Siege</h1>
        <div id="menu">
            <ul>
                <li><button type="button" id="play-button">Play</button></li>
                <li><button type="button" id="stats-button">Stats</button></li>
                <li><button type="button" id="how-button">How To Play</button></li>
                <li><button type="button" id="settings-button">Settings</button></li>
            </ul>
        </div>
    </div>
</body>
</html>