<!DOCTYPE html>
<html>
<head>
    <title>SignalSiege</title>
    <link rel="stylesheet" href="../static/styles/play.css">
</head>
<body>
    <div id="content-wrapper">
        <form id="game-settings">
            <fieldset id="board">
                <legend>Board</legend>
                <div class="fieldset-wrapper">
                    <label>Board Size <input type="number" min="0" max="100" name="width"> by <input type="number" min="0" max="100" name="height"></label>
                    <label>Full Subnet <input type="checkbox" name="full"></label>
                </div>
            </fieldset><fieldset id="opponent">
                <legend>Choose Opponent</legend>
                <div class="fieldset-wrapper">
                    <label>Computer<input type="radio" name="opponent" value="computer" checked></label>
                <label>Human<input type="radio" name="opponent" value="human"></label>
                <label>Local<input type="radio" name="opponent" value="local"></label>
                </div>
            </fieldset><fieldset id="computer-settings">
                <legend>Computer Settings</legend>
                <div class="fieldset-wrapper">
                    <label>Difficulty
                    <select name="difficulty">
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                        <option>Very Hard</option>
                        <option>Insane</option>
                        <option>Random</option>
                    </select>
                </label>
                </div>
            </fieldset>
            <button type="submit">Start</button>
        </form>
    </div>
</body>
</html>