:root {
    --primary-color: #0c0;
    --primary-dark-color: #090;
    --secondary-color: black;
    --text-color: #888;
    --text-color-dark: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    cursor: crosshair;
    opacity: 1;
}